<div class="container">
    <div class="row">
        <div class="col-sm">
            <a routerLink = '/landing'>
                <button type="button" class="btn btn-outline-success">Back</button>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <h3>File List</h3>
        </div>
        <div class="col-sm">
        <div *ngIf="isLoading">
          <div class="d-flex align-items-center">
            <div class="spinner-border mr-auto text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <!-- <div class="clearfix">
            <div class="spinner-border float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div> 
          </div>-->
        </div>
      </div>
    </div>
    <br>

    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">File Hash</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let file of files">
            <td>{{file.fileName}}</td>
            <td>{{file.fileHash}}</td>
            <td>
                <button type="button" class="btn btn-outline-success btn-sm mr-1" [disabled]="isLoading" (click)="download(file.fileName)">Download</button>
                <button type="button" class="btn btn-outline-success btn-sm"  (click)="getHistory(file.fileName)">View History</button>
            </td>
          </tr>
          
        </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hey!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul>
              <li>File Name: {{fileName}}</li>
              <!-- <li>File Hash: {{fileHash}}</li> -->
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-bordered table-responsive">
              <thead>
                <tr>
                  <th scope="col">File Hash</th>
                  <th scope="col">TimeStamp</th>
                  <th scope="col">Txn ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor ="let _ of history; let i=index">
                  <ng-container *ngIf="history[history.length-i-1] as element">
                  <!-- <td style="word-wrap: break-word;min-width: 190px;max-width: 190px;white-space:normal;">{{element.fileDetails.fileName}}</td> -->
                  <td style="word-wrap: break-word;max-width: 285px;white-space:normal;">{{element.fileDetails.fileHash}}</td>
                  <td style="word-wrap: break-word;max-width: 285px;white-space:normal;">{{element.timestampDate}}</td>
                  <td style="word-wrap: break-word;max-width: 298px;white-space:normal;">{{element.transactionId}}</td>
                </ng-container>
                </tr>
                
              </tbody>
          </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

    
    


</div>