<div class="container" >
  
  <div class="row mt-3 pt-3">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hey!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul>
              <li>File Name: {{fileName}}</li>
              <li id="modal-body-text"style="word-wrap: break-word;max-width: 420px;white-space:normal;">File Hash: {{hash}}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-8 mx-auto">
      <!-- <div class="d-flex align-items-end flex-column"> -->
        <div>
          <a routerLink="/team-info/{{teamname}}">
            <!-- <h2>Team {{teamname}}</h2> -->
            <button type="button" class="btn btn-outline-success" >The Team</button>
          </a>
          &nbsp; &nbsp;
          <button type="button" class="btn btn-outline-success" (click)="handleCommit()">Commit File</button>
          &nbsp; &nbsp;
          <!-- <button type="button" class="btn btn-outline-success" (click)="handleUpdate()">Update File</button>
          &nbsp; &nbsp; -->
          <!-- <a routerLink = "/get-details"> -->
            <button type="button" class="btn btn-outline-success" (click)="goToGetDetails()" >Get Details</button>
          <!-- </a> -->
        </div>
        
      <!-- </div> -->
    </div>
  
  </div>

  <div class="row mt-3 pt-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 ml-3">
      <div>
        <div  *ngIf="showUpload">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-outline-success" type="button" (click)="upload()">Upload</button>
              <!-- <span class="input-group-text upload" (click)="upload()" id="btnUpload">Upload</span> -->
            </div>
            <div class="custom-file">
              <form action="/api/upload" method="post" enctype="multipart/form-data">
                <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01">
              </form>
              
                <label class="custom-file-label" for="inputGroupFile01" >
                  <span id="fileInput" class="d-inline-block text-truncate" style="max-width: 80%;">Choose file</span>
                  
                </label>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 pt-3">
    <div class="col-md">
      <div *ngIf="isLoading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <!-- <div class="clearfix">
          <div class="spinner-border float-right" role="status">
            <span class="sr-only">Loading...</span>
          </div> 
        </div>-->
      </div>
    </div>
  </div>

</div>


